extends layout

block content
  h1= title
  p Welcome to #{title}
  
  // Dummy Table
  table
    thead
      tr
        th Name
        th price
        th description

    tbody
      each person in dummy_table_data
        tr
          td= person.name
          td= person.price
          td= person.description

  

