extends layout

block content
  h1= title
  p Products Page

  // Form for adding a new product
  form(action='/products', method='post')
    label(for='name') Name:
    input(type='text', name='name', required)

    label(for='price') Price:
    input(type='number', name='price', required)

    label(for='description') Description:
    input(type='text', name='description', required)

    label(for='category') Category:
    select(name='category')
      option(value='yellow') Yellow
      option(value='red') Red
      option(value='blue') Blue

    button(type='submit') Add Product
  
  // Products listing
  table
    thead
      tr.text-left
        th Name
        th Price
        th Description
        th Category
        th Actions

    tbody
      each product in productData
        tr
          td= product.name
          td
            span(class='editable' id=`price_${product.name}`)= product.price
          td
            span(class='editable' id=`description_${product.name}`)= product.description
          td
            span(class='editable' id=`category_${product.name}`)= product.category
          td
            form(action=`/edit/${product.name}`, method='post', style='display:inline;')              
              input(type='number', name='newPrice', required)
              input(type='text', name='newDescription', required)
              select(name='newCategory')
                option(value='yellow') Yellow
                option(value='red') Red
                option(value='blue') Blue
              button(type='submit') Update

          td
            form(action=`/remove/${product.name}`, method='post', style='display:inline;')
              button(type='submit', style='color: red;') Delete
